<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>hr_test</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/dashboard.css" rel="stylesheet">
</head>
<button class="btn btn-info" id="recal">返回</button>
<button class="btn btn-info" id="submit">提交</button>
<body>
	<table class="table table-bordered table_striped table-hover">
		<thead>
		<tr>
			<th>序号</th>
			<th class='success'>姓名</th>
			<th>身份证号</th>
			<th>正工</th>
			<th>工资标准</th>
			<th class='success'>工资小计</th>
			<th>工资订正</th>
			<th>高温补贴</th>
			<th>特殊津贴</th>
			<th>班组长津贴</th>
			<th>加班工资</th>
			<th>年工工资</th>
			<th>夜班补助</th>
			<th>伙食补助</th>
			<th>环境补助</th>
			<th>协力补助</th>
			<th class='success'>应发工资</th>
			<th>社保基数</th>
			<th>医保基数</th>
			<th>养老保险/公司</th>
			<th>养老保险/个人</th>
			<th>失业保险/公司</th>
			<th>失业保险/个人</th>
			<th>工伤保险/公司</th>
			<th>医疗保险/公司</th>
			<th>医疗保险/个人</th>
			<th>生育保险/公司</th>
			<th>重疾保险/公司</th>
			<th>保险订正</th>
			<th>保险小计</th>
			<th>个人所得税</th>
			<th class='success'>实发工资</th>
			<th class='success'>姓名</th>
		</tr>
		</thead>
		<tbody id="table"></tbody>
	</table>
  	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script>
	function getable(){
		$.getJSON('/common/salary/get_cal',function(res){
			str = ""
			$.each(res,function(ind,val){
				str += '<tr><td>'+(ind+1)+'</td><td class="success">'+val[0]+'</td><td>'+val[1]+'</td>'
				str += '<td>'+val[2]+'</td><td>'+val[3]+'</td><td class="success">'+val[4]+'</td>'
				str += '<td>'+val[5]+'</td><td>'+val[6]+'</td><td>'+val[7]+'</td>'
				str += '<td>'+val[8]+'</td><td>'+val[9]+'</td><td>'+val[10]+'</td>'
				str += '<td>'+val[11]+'</td><td>'+val[12]+'</td><td>'+val[13]+'</td>'
				str += '<td>'+val[14]+'</td><td class="success">'+val[15]+'</td><td>'+val[16]+'</td>'
				str += '<td>'+val[17]+'</td><td>'+val[18]+'</td><td>'+val[19]+'</td>'
				str += '<td>'+val[20]+'</td><td>'+val[21]+'</td><td>'+val[22]+'</td>'
				str += '<td>'+val[23]+'</td><td>'+val[24]+'</td><td>'+val[25]+'</td>'
				str += '<td>'+val[26]+'</td><td>'+val[27]+'</td><td>'+val[28]+'</td>'
				str += '<td>'+val[29]+'</td><td class="success">'+val[30]+'</td><td class="success">'+val[0]+'</td></tr>'
			})
			$('#table').html(str)
		})
	}
	getable()
	$('#recal').on('click',function(){
		location.href='/common/salary'
	})
	$('#submit').on('click',function(){
		$.post('/common/salary/submit',{'0':'0'},function(res){
			if(res=='ok'){
				location.href='/common/salary'
			}
			else{
				alert('error')
			}
		})
	})
	</script>
</body>
</html>