{% extends 'layout.html' %}

{% block sidebar %}
<li class="active"><a href="#">人员管理</a><li>
<li><a href="/common/salary">考勤操作</a></li>
<li><a href="/common/summary/check">查看考勤信息</a></li>
<li><a href="/common/summary/salary">查看工资表</a></li>
<li><a href="/common/summary/table">报表管理</a></li>
<li><a href="/common/set">设置</a>
{% endblock%}

{% block content %}
<!-- <h3 class="sub-header">人员添加</h3> -->
<div class="container-fluid">

  </div>
  <div class="row">
  <button class="btn btn-success" id="add">添加人员</button>
  </div>


<div class="row">
      <div class="col-md-3">
      <form>
      <div class="form-group">
        <label>姓名</label>
        <input type="text" id="name" class="form-control">
      </div>
      </form>
    </div>

        <div class="col-md-3">
      <form>
      <div class="form-group">
        <label>身份证号</label>
        <input type="text" id="id" class="form-control">
      </div>
      </form>
    </div>


     <div class="col-md-3">
      <form>
      <div class="form-group">
        <label>部门</label>
        <select class="form-control" id="department">
        </select>
      </div>
      </form>
    </div>

       <div class="col-md-3">
    <button class="btn btn-success" id="select">查询</button>
    </div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>姓名</th>
      <th>年龄</th>
      <th>性别</th>
      <th>身份证</th>
      <th>部门</th>
      <th>工作内容</th>
      <th>工作班制</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody id="table">
  </tbody>
</table>

</div>

<!-- <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="check_stuff">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
          <div class="list-group col-md-6">
              <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
              <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
              <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
              <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
            </div>
            <div class="list-group col-md-6">
              <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
              <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
            </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
        </div>
    </div>
  </div>
</div> -->

<!--   <div class="form-group">
      <button type="submit" class="btn btn-default">添加</button>
  </div> -->

<!-- <h3 class="sub-header">展示</h3> -->
{% endblock %}

{% block js %}
<script>
	// $.getJSON('/common/stuff/getmessage',function(res){
	// 	var navbar = '<li><a href="#">你好! '
	// 	navbar += res[0]
	// 	navbar += '</a></li><li><a href="/logout">注销</a></li>'
	// 	$('#navbar').find('ul').html(navbar)
	// 	$('#navbar').attr('group',res[1])
	// })

  function getable(){//这是刷新表的函数，下面还有一个查询后显示的函数，两个不要忘记一起改
    var str = ''
    $.getJSON('/common/stuff/get',function(res){
      $.each(res,function(ind,val){
        str += '<tr><td>'+(ind+1)+'</td><td>'+val[0]+'</td><td>'+val[1]+'</td><td>'+val[2]+'</td><td>'+val[3]+'</td><td>'+val[4]+'</td><td>'+val[5]+'</td><td>'+val[6]+'</td>'
        str += '<td><button class="btn btn-success btn-xs detail-btn" id="'+val[3]+'">查看</button>'
        str += '<button class="btn btn-info btn-xs update-btn" id="'+val[3]+'" >修改</button>'
        str += '<button class="btn btn-danger btn-xs delete-btn" id="'+val[3]+'">删除</button></td></tr>'
      })
      $('#table').html(str)
    })
  }
  getable()

// $(document).on('click','.check-btn',function(res){
//   $('#check_stuff').modal('show')
// })

$('#add').on('click',function(){
  location.href='/common/stuff/addstuff'
})
function getdepart(){
  $.getJSON('/common/set/depart_get',function(res){
    var str = '<option>所有部门</option>'
    $.each(res,function(ind,val){
      str += '<option>'+val[1]+'</option>'
    })
    //console.log(str)
    $('#department').html(str)
  })
}
getdepart()
$('#select').on('click',function(){//查询操作，查询完成之后还要显示出来，显示部分和getable()相同，如果改动不要忘记一起改
  var name = $('#name').val()
  var id = $('#id').val()
  var department = $('#department').val()
  var arr = []
  if(name==''){arr.push('0')}
  else{arr.push('1')}
  if(id==''){arr.push('0')}
  else{arr.push('1')}
  if(department=='所有部门'){arr.push('0')}
  else{arr.push('1')}
  var str = arr.join(',')
  $.getJSON('/common/stuff/select?str='+str+'&name='+name+'&id='+id+'&department='+department,function(res){
    if(res=='0'){$('#table').html('')}//后端如果没有查询到内容，后端返回0，前端发现后不进行处理。
    else{
    var htmlstr = ''
    $.each(res,function(ind,val){
    str += '<tr><td>'+(ind+1)+'</td><td>'+val[0]+'</td><td>'+val[1]+'</td><td>'+val[2]+'</td><td>'+val[3]+'</td><td>'+val[4]+'</td><td>'+val[5]+'</td><td>'+val[6]+'</td>'
    str += '<td><button class="btn btn-success btn-xs detail-btn" id="'+val[3]+'">查看</button>'
    str += '<button class="btn btn-info btn-xs update-btn" id="'+val[3]+'" >修改</button>'
    str += '<button class="btn btn-danger btn-xs delete-btn" id="'+val[3]+'">删除</button></td></tr>'
    })
    $('#table').html(str)
  }
  })
})
$(document).on('click','.delete-btn',function(){
  id=$(this).attr('id')
  $.post('/common/stuff/del',{'id':id},function(res){
    if(res=='ok'){
      alert('删除成功')
      getable()
    }
    else{alert('删除失败')}
  })
})
$(document).on('click','.update-btn',function(){
  id=$(this).attr('id')
  $.post('/common/stuff/update/before',{'id':id},function(res){
    if(res=='ok')
    {location.href='/common/stuff/update/on'}
    else{alert('修改操作失败')}
  })
})

$(document).on('click','.detail-btn',function(){
  id=$(this).attr('id')
  $.post('/common/stuff/detail/before',{'id':id},function(res){
    if(res=='ok')
    {location.href='/common/stuff/detail/on'}
    else{alert('修改操作失败')}
  })
})
</script>
{% endblock %}