{% extends 'layout.html' %}

{% block sidebar %}
<li class="active"><a href="#">人员管理</a><li>
<li><a href="/common/salary">考勤操作</a></li>
<li><a href="#">查看考勤信息</a></li>
<li><a href="#">查看工资表</a></li>
<li><a href="/common/summary/table">报表管理</a></li>
<li><a href="/common/set">设置</a>
{% endblock%}

{% block content %}
<!-- <h3 class="sub-header">人员添加</h3> -->
<div class="container-fluid">
  <div class="row">
  <div class="col-md-4">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-md-2 control-label">姓名</label>
        <div class="col-md-10">
          <input type="text" id="name" class="form-control">
        </div>
  </div>
</form>
</div>
<div class="col-md-1">
  <h5 id="name_msg"></h5>
</div>

  <div class="col-md-4">
  <form class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2 control-label">年龄</label>
    <div class="col-md-10">
    <input type="text" id="age" class="form-control">
  </div>
  </div>
</form>
</div>
<div class="col-md-1">
  <h5 id="age_msg"></h5>
</div>

<div class="col-md-2">
  <div class="form-group">
    <label class=" col-md-4 control-label">性别</label>
    <div class="col-md-8">
    <select class="form-control" id="sex">
      <option>男</option>
      <option>女</option>
    </select>
  </div>
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-4">
  <form class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2 control-label">电话</label>
    <div class="col-sm-10">
    <input type="text" id="tele" class="form-control">
  </div>
  </div>
</form>
</div>
<div class="col-md-1">
  <h5 id="tele_msg"></h5>
</div>

  <div class="col-md-4">
  <form class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2 control-label">住址</label>
    <div class="col-md-10">
    <input type="text" id="address" class="form-control">
  </div>
  </div>
</form>
</div>
<div class="col-md-1">
  <h5 id="address_msg"></h5>
</div>
</div>

<div class="row">
   <div class="col-md-4">
  <form class="form-horizontal">
  <div class="form-group">
    <label class="col-md-2 control-label">工资</label>
    <div class="col-sm-10">
    <input type="text" id="salary" class="form-control">
  </div>
  </div>
</form>
</div>
<div class="col-md-1">
  <h5 id="salary_msg"></h5>
</div>
  <div class="col-md-1 col-sm-offset-2">
  <button type="button" id="submit" class="btn btn-sm btn-primary">添加人员</button>
</div>
</div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>姓名</th>
      <th>年龄</th>
      <th>性别</th>
      <th>身份证</th>
      <th>公司</th>
      <th>工作内容</th>
      <th>工作班制</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody id="table">
  </tbody>
</table>

  <div class="modal fade" tabindex="-1" role="dialog" id="mymodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">查询</h4>
      </div>
      <div class="modal-body">
	<form class="form-inline">
	  <div class="form-group">
	    <label for="name">姓名</label>
	    <input type="text" class="form-control" id="modal_name" placeholder="">
	  </div>
	  <div class="form-group">
	    <label for="age">年龄</label>
	    <input type="text" class="form-control" id="modal_age" placeholder="">
	  </div>
	    <div class="form-group">
	    <label for="sex">性别</label>
	    <select type="text" class="form-control" id="modal_sex">
	    	<option>男</option>
	    	<option>女</option>
	    </select>
	  </div>
        <div class="form-group">
      <label for="age">电话</label>
      <input type="text" class="form-control" id="modal_tele" placeholder="">
    </div>
        <div class="form-group">
      <label for="age">住址</label>
      <input type="text" class="form-control" id="modal_address" placeholder="">
    </div>
            <div class="form-group">
      <label for="age">工资</label>
      <input type="text" class="form-control" id="modal_salary" placeholder="">
    </div>
	</form>
	      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="modal_confirm" pk="">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="check_stuff">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
          <div class="list-group col-md-6">
              <li class="list-group-item list-group-item-success">Dapibus ac facilisis in</li>
              <li class="list-group-item list-group-item-info">Cras sit amet nibh libero</li>
              <li class="list-group-item list-group-item-warning">Porta ac consectetur ac</li>
              <li class="list-group-item list-group-item-danger">Vestibulum at eros</li>
            </div>
            <div class="list-group col-md-6">
              <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
              <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
            </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>
        </div>
    </div>
  </div>
</div>

<!--   <div class="form-group">
      <button type="submit" class="btn btn-default">添加</button>
  </div> -->

<!-- <h3 class="sub-header">展示</h3> -->
{% endblock %}

{% block js %}
<script>
	// $.getJSON('/common/stuff/getmessage',function(res){
	// 	var navbar = '<li><a href="#">你好! '
	// 	navbar += res[0]
	// 	navbar += '</a></li><li><a href="/logout">注销</a></li>'
	// 	$('#navbar').find('ul').html(navbar)
	// 	$('#navbar').attr('group',res[1])
	// })

  function getable(){
    var str = ''
    $.getJSON('/common/stuff/get',function(res){
      $.each(res,function(ind,val){
        str += '<tr><td>'+(ind+1)+'</td><td>'+val[0]+'</td><td>'+val[1]+'</td><td>'+val[2]+'</td><td>'+val[3]+'</td><td>'+val[4]+'</td><td>'+val[5]+'</td><td>'+val[6]+'</td>'
        str += '<td><button class="btn btn-success btn-xs check-btn" id="'+val[2]+'">查看</button>'
        str += '<button class="btn btn-info btn-xs update-btn" id="'+val[2]+'" >修改</button>'
        str += '<button class="btn btn-danger btn-xs delete-btn" id="'+val[2]+'">删除</button></td></tr>'
      })
      $('#table').html(str)
    })
  }
  getable()

$(document).on('click','.check-btn',function(res){
  $('#check_stuff').modal('show')
})

//   $('#submit').on('click',function(){
//     var token = 1
//     var name = $('#name').val()
//     var age = $('#age').val()
//     var sex = $('#sex').val()
//     var tele = $('#tele').val()
//     var address = $('#address').val()
//     var company = $('#navbar').attr('group')
//     var salary = $('#salary').val()
//     if(name.length==0){
//       $('#name_msg').html('内容错误')
//       token = 0
//     }
//         if(age.length==0){
//       $('#age_msg').html('内容错误')
//       token = 0
//     }
//         if(tele.length==0){
//       $('#tele_msg').html('内容错误')
//       token = 0
//     }
//         if(address.length==0){
//       $('#address_msg').html('内容错误')
//       token = 0
//     }
//      if(salary.length==0){
//       $('#salary_msg').html('内容错误')
//       token = 0
//     }

//     if(token == 1){
//       $.post('/common/stuff/add',{'name':name,'age':age,'sex':sex,'tele':tele,'address':address,'company':company,'salary':parseInt(salary)*100},function(res){
//         if(res == 'ok'){
//           $('#name').val('')
//           $('#age').val('')
//           $('#tele').val('')
//           $('#address').val('')
//           $('#salary').val('')
//           getable()
//           alert('操作成功')
//       }
//         else{
//           alert('操作失败')
//       }
//     })
//   }
//   else{}
//   })

//   $(document).on('click','.delete-btn',function(){
//   	res = confirm('确认删除？')
//   	if(res){
//   		var id = $(this).attr('id')
//   		$.post('/common/stuff/del',{'id':id},function(res){
//         console.log(res)
//   			if(res == 'ok'){
//           getable()
//   				alert('操作成功')
//   			}
//   			else{
//   				alert('操作失败')
//   			}
//   		})
//   }
//   })

//   $(document).on('click','.update-btn',function(){
//   	var id = $(this).attr('id')
//   	var name = $(this).attr('name')
//   	var sex = $(this).attr('sex')
//   	var age = $(this).attr('age')
//   	var tele = $(this).attr('tele')
//   	var address = $(this).attr('address')
//     var salary = $(this).attr('salary')
//     $('#modal_name').val(name)
//     $('#modal_age').val(age)
//     $('#modal_sex').val(sex)
//     $('#modal_tele').val(tele)
//     $('#modal_address').val(address)
//     $('#modal_salary').val(salary)
//     $('#modal_confirm').attr('pk',id)
//     $('#mymodal').modal('show')
//   })

// $('#modal_confirm').on('click',function(){
//   var id = $(this).attr('pk')
//   var name = $('#modal_name').val()
//   var sex = $('#modal_sex').val()
//   var age = $('#modal_age').val()
//   var tele = $('#modal_tele').val()
//   var address = $('#modal_address').val()
//   var salary = $('#modal_salary').val()
//   res = confirm('确认修改?')
//   if(res){

//     $.post('/common/stuff/update',{'id':id,'name':name,'sex':sex,'age':age,'tele':tele,'address':address,'salary':parseInt(salary)*100},function(res){
//       if(res == 'ok'){
//         getable()
//         $('#mymodal').modal('hide')
//         alert('操作成功')
//       }
//       else{
//         alert('操作失败')
//       }
//   })
// }
// })
</script>
{% endblock %}