<table class="table table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>姓名</th>
      <th>出生日期</th>
      <th>曾用名</th>
      <th>性别</th>
      <th>名族</th>
      <th>年龄</th>
      <th>身份证</th>
      <th>政治面貌</th>
      <th>学历</th>
      <th>健康状况</th>
      <th>户口</th>
      <th>婚否</th>
      <th>籍贯</th>
      <th>户口所在地</th>
      <th>住宅电话</th>
      <th>个人电话</th>
      <th>工作时间</th>
      <th>住址01</th>
      <th>住址02</th>
      <th>公司</th>
      <th>工作状态</th>
      <th>部门</th>
      <th>工种</th>
      <th>进入公司时间</th>
      <th>劳务派遣公司</th>
      <th>集团部门</th>
      <th>人员序列</th>
      <th>联系人</th>
      <th>联系电话</th>
      <th>津贴性质</th>
      <th>津贴标准</th>
      <th>享受标准</th>
      <th>工作班制</th>
      <th>基本公司</th>
      <th>高温补助基数</th>
      <th>特殊补贴基数</th>
      <th>班组长津贴</th>
      <th>年工工资</th>
      <th>餐补基数</th>
      <th>社保基数</th>
      <th>医保基数</th>
      <th>其它</th>
    </tr>
  </thead>
  <tbody id="table">
  </tbody>
</table>

<script>
  function getable(){
    var str = ''
    $.getJSON('/common/stuff/get',function(res){
      $.each(res,function(ind,val){
        str += '<tr><td>'+(ind+1)+'</td><td>'+val[1]+'</td><td>'+val[2]+'</td><td>'+val[3]+'</td><td>'+val[4]+'</td><td>'+val[5]+'</td><td>'+val[6]+'</td><td>'+val[7]+'</td><td>'+val[8]+'</td><td>'+val[9]
        str += '<tr><td>'+val[10]+'</td><td>'+val[11]+'</td><td>'+val[12]+'</td><td>'+val[13]+'</td><td>'+val[14]+'</td><td>'+val[15]+'</td><td>'+val[16]+'</td><td>'+val[17]+'</td><td>'+val[18]+'</td><td>'+val[19]
        str += '<tr><td>'+val[20]+'</td><td>'+val[21]+'</td><td>'+val[22]+'</td><td>'+val[23]+'</td><td>'+val[24]+'</td><td>'+val[25]+'</td><td>'+val[26]+'</td><td>'+val[27]+'</td><td>'+val[28]+'</td><td>'+val[29]
        str += '<tr><td>'+val[30]+'</td><td>'+val[31]+'</td><td>'+val[32]+'</td><td>'+val[33]+'</td><td>'+val[34]+'</td><td>'+val[35]+'</td><td>'+val[36]+'</td><td>'+val[37]+'</td><td>'+val[38]+'</td><td>'+val[39]
        str += '<tr><td>'+val[40]+'</td><td>'+val[41]+'</td><td>'+val[42]+'</td><td>'
        str += '<td><button class="btn btn-info btn-xs update-btn" id="'+val[0]+'">修改</button>'
        str += '<button class="btn btn-danger btn-xs delete-btn" id="'+val[0]+'">删除</button></td></tr>'
      })
      $('#table').html(str)
    })
  }
  getable()

  </script>

